body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; /* Largura completa da viewport */
    height: 20%; /* Altura completa da viewport */
}